body{
    background-color:antiquewhite
}

h1, h2, hr {
    color: rgb(86, 0, 143)
}

hr {
    height: 5px;
    background-color: rgb(86, 0, 143);
    border: 0
}

.head {
    color:blueviolet;
    font-size: 16pt;
}

::marker {
    content: "🎶 ";}


/*div{
    width: 80%;
    background-color: aquamarine;
    margin: auto;
}*/